.container{
  width: $mobile-width;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (min-width: $tablet-width) {
  .container{
    width: $tablet-width;
  }
}
@media (min-width: $desctop-width) {
  .container{
    width: $desctop-width;
  }
}
