.logo{
  display: flex;
  flex-direction: column;
  &__text{
    font-family: Times New Roman;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #006D4D;
  }
  &__description{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: justify;
    color: #313131;
  }
}
