.nav{
  display: none;
  flex-direction: column;
  &__list{
    padding-right: 72px;
    margin-bottom: 40px;
  }
  &__link{
    display: block;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 45px;
    /* identical to box height */

    text-align: right;
    text-transform: uppercase;

    color: #595757;
  }
}
a.nav__link--header-nav:hover{
  text-decoration: none;
  color: #006D4D;
}
@media (min-width: $tablet-width) {
  .nav{
    background-image: url('../img/decor/header_bg_animals.png');
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: 45px center;
    &__list{
      padding-right: 0;
    }
  }
}
@media (min-width: $desctop-width) {
  .nav{
    display: flex;
    order: 3;
    width: 100%;
    margin-top: 20px;
    background-image: none;
    &__list{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    &__link{
      font-size: 14px;
      line-height: 19px;
    }
  }
}