@font-face {
  font-family: "Open Sans";
  src: url('../fonts/opensansNormalBold.woff2') format('woff2'),
  url('../fonts/opensansNormalBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url('../fonts/opensansNormalRegular.woff2') format('woff2'),
  url('../fonts/opensansNormalRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Times New Roman";
  src: url('../fonts/timesNewRoman-normal-400.woff2') format('woff2'),
  url('../fonts/timesNewRoman-normal-400.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Times New Roman";
  src: url('../fonts/timesNewRoman-normal-700.woff2') format('woff2'),
  url('../fonts/timesNewRoman-normal-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}